<div class="modal-content">
  <div class="modal-header">
    {{dog-carousel dog}}
  </div>
  <div class="modal-body">
    <h4 class="modal-title">{{dog.name}}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{dog.description}}
  </div>
  <div class="modal-footer">
    <button {{action 'addToDoghouse' dog}} class="btn btn-primary" data-dismiss="modal">I Want To Meet {{dog.name}}</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div><!-- /.modal-content -->
