<img src={{dog.images.firstObject.url}} alt={{dog.images.firstObject.caption}} />

<div class="ado-dog-tile-icons">
  {{#if dog.inDoghouse}}
    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
  {{/if}}
  {{#if dog.appointments}}
    {{hot-dog dog}}
  {{/if}}
</div>

<div class="ado-tile-info">
  <h1>{{dog.name}}</h1>
  <p>{{dog.birthday}}</p>
</div>
