<form>
  <div class="form-group">
    <label for="dogName">Name</label>
    {{input value=name id="dogName" class="form-control" placeholder="Dog Name"}}
  </div>

  <div class="form-group">
    <label for="breeds">Breeds</label>
    {{#power-select-multiple
      options=sortedBreeds
      selected=breeds
      searchField="name"
      placeholder="Select a Breed"
      onfocus=(action "handleFocus")
      onchange=(action (mut breeds))
      as |breed|
    }}
      {{breed.name}}
    {{/power-select-multiple}}
  </div>

  <div class="form-group">
    <label for="sex">Sex</label>
    {{#power-select
      options=sexes
      selected=sex
      placeholder="Select a Sex"
      onfocus=(action "handleFocus")
      onchange=(action 'selectSex')
      as |sex|
    }}
      {{sex}}
    {{/power-select}}
  </div>

  <div class="form-group">
    <label for="weight">Weight (lbs)</label>
    {{input
      value=weight
      type="number"
      min="0"
      id="weight"
      class="form-control"
      placeholder="Weight"
    }}
  </div>

  <div class="form-group">
    <label for="birthday">Birthday</label>
    {{input
      value=birthday
      type="date"
      id="birthday"
      class="form-control"
      placeholder="mm/dd/yyyy"
    }}
  </div>

  <div class="form-group">
    <label for="fee">Adoption Fee</label>
    {{input
      value=fee
      type="number"
      min="0"
      id="fee"
      class="form-control"
      placeholder="fee"
      step="0.01"
    }}
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    {{textarea
      value=description
      id="description"
      class="form-control"
      placeholder="Tell us why this dog is awesome..."
      rows="6"
    }}
  </div>

  <div class="form-group">
    <label for="image-url">Add Image</label>
    <div class="row">
      <div class="col-sm-6">
        <label for="image-caption">Add Caption</label>
        {{input value=imageCaption id="image-caption" class="form-control" placeholder="Caption"}}
      </div>
      <div class="col-sm-6">
        <label for="image-url">Add URL</label>
        <div class="input-group">
          {{input value=imageURL id="image-url" class="form-control" placeholder="Image URL"}}
          <span class="input-group-btn">
            <button {{action 'addImage'}} class="btn btn-default">Upload</button>
          </span>
        </div>
      </div>
    </div>
  </div>

  {{#if images}}
    <div class="row">
      <div class="form-group">
        {{#each images as |image|}}
          <div class="col-xs-3">
            <a class="thumbnail">
              <img src={{image.url}} alt="remove image"/>
              <span class="ado-span-link" {{action 'removeImage' image}}>x</span>
              <span>{{image.caption}}</span>
            </a>
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}

  <button class="btn" {{action 'saveDog'}}>Save</button>
</form>
